* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
}

body,
p,
input,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#root {
  height: 100%;
}
